

                        @{ ViewData["Title"] = "Index"; }
   

                        <div class="container">
                        
                         
                            <img  src="/images/accesodenegado.png"  style="display: flex;
    margin: auto; width: 29%;" />


                        </div>
               










